:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 4rem;
  background: var(--gad-bars-color);
  align-items: center;
  border-top: 1px solid var(--gad-divider-color);
  border-bottom: 1px solid var(--gad-divider-color);
}

input {
  padding: 1rem 0 1rem 1rem;
  display: block;
  border: none;
  outline: none;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  padding: .6rem;
  margin: .65rem;
  flex: 0 0 auto;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 100%;
    height: 100%;
  }
}
