:host {
  display: block;

  --app-primary-color: #4285f4;
  --app-secondary-color: #ea4335;
  --app-background-color: var(--paper-grey-50);
  --app-drawer-color: var(--paper-grey-100);
  --app-card-color: white;
  --app-dark-primary-text-color: rgba(0, 0, 0, .87);
  --app-dark-secondary-text-color: rgba(0, 0, 0, .60);
  --app-dark-disabled-text-color: rgba(0, 0, 0, .38);
  --app-light-primary-text-color: rgba(255, 255, 255, .87);
  --app-light-secondary-text-color: rgba(255, 255, 255, .60);
  --app-light-disabled-text-color: rgba(255, 255, 255, .38);
  --app-success-color: #00d500;
  --app-error-color: #b00020;
  --app-divider-color: rgba(0, 0, 0, .12);

  --app-drawer-background-color: var(--app-secondary-color);
  --app-drawer-text-color: var(--app-light-text-color);
  --app-drawer-selected-color: #78909C;
}

app-header {
  font-family: 'Product Sans', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: var(--app-header-background-color);
  // color: #1d333e;
  color: var(--app-header-text-color);
  border-bottom: 1px solid #eee;
  border-right: 1px solid var(--paper-grey-100);
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.2);

  /* Enable Ligatures */
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;

  --app-header-background-color: var(--app-primary-color);
  --app-header-text-color: var(--app-light-primary-text-color);

  &.light {
    --app-header-background-color: var(--app-card-color);
    --app-header-text-color: var(--app-dark-primary-text-color);
  }

  .thin {
    font-weight: 100;
    font-size: .75rem;
  }
}

.menu-btn {
  background: none;
  border: none;
  fill: var(--app-header-text-color);
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.main-content {
  padding-top: 64px;

  &, & > * {
    min-height: calc(100vh - 64px);
  }
}

.page {
  display: none;
}

.page[active] {
  display: block;
}
