:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // Needed by Material Design Components
  --mdc-theme-primary: var(--gad-primary-color);
  --mdc-theme-secondary: var(--gad-accent-color);
  --mdc-theme-surface: var(--gad-card-color);
  --mdc-theme-background: var(--gad-background-color);

  // Constants
  --gad-text-font: 'Roboto';
  --gad-display-font: 'Google Sans Display';
  --gad-logo-font: 'Product Sans';
  --gad-icon-font: 'Material Icons Extended';
  --gad-border-radius-sm: .25rem;
  --gad-border-radius-md: .5rem;
  --gad-border-radius-lg: 1rem;

  // Variables (different for each theme)
  --gad-primary-color: #fff;
  --gad-accent-color: #1a73e8;
  --gad-background-color: #fafafa;
  --gad-card-color: #fff;
  --gad-bars-color: #fff;
  --gad-primary-opacity: .87;
  --gad-secondary-opacity: .6;
  --gad-disabled-opacity: .38;
  --gad-divider-opacity: .12;
  --gad-backdrop-opacity: .54;
  --gad-primary-text-color: rgba(0, 0, 0, var(--gad-primary-opacity));
  --gad-secondary-text-color: rgba(0, 0, 0, var(--gad-secondary-opacity));
  --gad-disabled-text-color: rgba(0, 0, 0, var(--gad-disabled-opacity));
  --gad-divider-color: rgba(0, 0, 0, var(--gad-divider-opacity));
  --gad-backdrop-color: rgba(0, 0, 0, var(--gad-backdrop-opacity));
  --gad-text-on-accent-color: #fff;
  --gad-error-text-color: #b00020;
}

:host([theme=dark]) {
  --gad-primary-color: #000;
  --gad-accent-color: #1a73e8;
  --gad-background-color: #303030;
  --gad-card-color: #424242;
  --gad-bars-color: #212121;
  --gad-primary-opacity: 1;
  --gad-secondary-opacity: .7;
  --gad-disabled-opacity: .5;
  --gad-divider-opacity: .12;
  --gad-backdrop-opacity: .54;
  --gad-primary-text-color: rgba(255, 255, 255, var(--gad-primary-opacity));
  --gad-secondary-text-color: rgba(255, 255, 255, var(--gad-secondary-opacity));
  --gad-disabled-text-color: rgba(255, 255, 255, var(--gad-disabled-opacity));
  --gad-divider-color: rgba(255, 255, 255, var(--gad-divider-opacity));
  --gad-backdrop-color: rgba(0, 0, 0, var(--gad-backdrop-opacity));
  --gad-text-on-accent-color: #fff;
  --gad-error-text-color: #b00020;
}

gad-top-bar {
  flex: 0 0 auto;
  z-index: 1;
}

gad-chat {
  flex: 1 1 auto;
}

gad-bottom-bar {
  flex: 0 0 auto;
  z-index: 1;
}

gad-settings {
  flex: 1 1 auto;
}

gad-wizard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: .3s opacity ease-out, .3s z-index step-end;

  &[shown] {
    z-index: 10;
    opacity: 1;
    transition: .3s opacity ease-in, .3s z-index step-start;
  }
}
