:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

gad-top-bar {
  flex: 0 0 auto;
  z-index: 1;
}

gad-chat {
  flex: 1 1 auto;
}

gad-bottom-bar {
  flex: 0 0 auto;
  z-index: 1;
}
