:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 64px;
  background: var(--gad-bars-color);
  align-items: center;
  padding: 16px;

  &::after {
    position: absolute;
    right: 0px;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 5px;
    content: '';
    pointer-events: none;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, .38);
  }
}

img {
  height: 80%;
  margin: .275rem .5rem 0 .5rem;
}

.heading {
  font-family: var(--gad-logo-font);
  font-size: 1.375rem;
  color: var(--gad-secondary-text-color);
}

.spacer {
  flex: 1 1 auto;
}
