$gad-primary-color: #fff;
$gad-accent-color: #1a73e8;
$gad-background-color: #fff;
$gad-primary-text-color: rgba(0, 0, 0, .87);
$gad-secondary-text-color: rgba(0, 0, 0, .6);
$gad-disabled-text-color: rgba(0, 0, 0, .38);
$gad-error-text-color: #b00020;
$gad-divider-color: rgba(0, 0, 0, .12);
$gad-text-font: 'Roboto';
$gad-display-font: 'Google Sans Display';
$gad-logo-font: 'Product Sans';
$gad-icon-font: 'Material Icons Extended';
$gad-border-radius: .5rem;
