*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

::selection {
  background-color: rgba(255, 255, 255, .12);
}
