button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--gad-display-font);
  background: var(--gad-accent-color);
  color: var(--gad-text-on-accent-color);
  font-size: 0.875rem;
  border-radius: var(--gad-border-radius-sm);
  letter-spacing: 0.015625rem;
  height: 2.25rem;
  padding: 0 1rem;
}

:host([disabled]) button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: var(--gad-disabled-opacity);
}
