button {
  border: none;
  outline: none;
  font-family: var(--gad-display-font);
  background: var(--gad-accent-color);
  color: var(--gad-text-on-accent-color);
  font-size: .875rem;
  border-radius: var(--gad-border-radius-sm);
  letter-spacing: .015625rem;
  height: 2.25rem;
  padding: 0 1rem;
}
