<!doctype html>
<html>
  <head>
    <title>Google Assistant</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Display:400,500,700|Product+Sans:100,300,400,500,700,900|Material+Icons+Extended|Roboto:100,300,400,500,700,900">
    <style>
      html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background: #959595;
        font-size: 16px;
        font-family: 'Roboto';
      }
      html.light, html.light body {
        background: #fafafa;
      }
      html.dark, html.dark body {
        background: #303030;
      }
    </style>
  </head>
  <body>
    <gad-shell></gad-shell>
    <script>
      const theme = location.hash.slice(1);
      document.documentElement.className = theme;
      document.querySelector('gad-shell').setAttribute('theme', theme);
    </script>
  </body>
</html>
