<!doctype html>
<html>
  <head>
    <title>Google Assistant Desktop (Unofficial)</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Display:400,500,700|Product+Sans:100,300,400,500,700,900|Material+Icons+Extended">
    <style>
      html, body {
        width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
        background: #fff;
      }
    </style>
  </head>
  <body>
    <gad-shell></gad-shell>
  </body>
</html>
